<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bus.dao.RoleMapper">


    <select id="selectRoleAll"  resultType="Role">
        select * from Role
    </select>

    <select id="selectRoleById"  resultType="Role">
        select * from Role where roleId=#{roleId}
    </select>

    <insert id="insertRole" parameterType="Role">
        insert into Role (roleName) values (#{roleName})
    </insert>

    <update id="giveRoleAndAuyhority" parameterType="Role">
        update Role set authorityId=#{authority.authorityId} where roleId=#{roleId}
        <!--<foreach collection="authorityList" item="a" open="" close="" separator=",">
            #{a.authorityId}
        </foreach>
        where roleId=#{roleId}-->
    </update>

    <delete id="deleteRole" >
           delete from Role where roleId = #{roleId}
    </delete>

    <update id="updateRole"  parameterType="Role" >
          update Role set roleName=#{roleName} where roleId=#{roleId}
    </update>

</mapper>