<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bus.dao.UserMapper">
    <resultMap id="UserResult" type="User">
        <id column="userId" property="userId" />
        <result column="userName" property="userName"/>
        <result column="userPassword" property="userPassword"/>
        <result column="tel" property="tel"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>

        <association property="role" javaType="Role">
            <id column="roleId" property="roleId"/>
            <result column="roleName" property="roleName"/>
        </association>
    </resultMap>

    <!-- 显示员工 -->
    <select id="selectUser" resultType="User">
        select * from user where roleId = 5
    </select>

    <!-- 添加员工 -->
    <insert id="insertEmploee" parameterType="User">
        insert into user(userName,userPassword,tel,name,email,roleId)
        values (#{userName},#{userPassword},#{tel},#{name},#{email},#{roleId})
    </insert>

    <!--分页查询显示所有员工-->
    <select id="selectUserByPage" resultType="User" parameterType="User" >
        select * from user where roleId = 5

        ORDER BY userId LIMIT #{map.currentPage},#{map.pageSize}
    </select>
    <!--<if test="userName != null and userName !=''">
               and userName like #{userName}
           </if>
           <if test="name != null and name !=''">
               and name like #{name}
           </if>-->
    <!-- 获得总记录数 -->
    <select id="getTotalRecord" resultType="Integer" parameterType="User">
        select count(*) from user where roleId = 5

    </select>

    <select id="selectByUsername" parameterType="String" resultType="User">
        select * from user where userName = #{userName}
    </select>

    <!-- 查询员工 -->
    <select id="selectUserById" parameterType="Integer" resultType="User">
        select * from user where userId = #{id}
    </select>

    <!--修改员工信息-->
    <update id="updateUser" parameterType="User" >
        update user set userName = #{userName},userPassword = #{userPassword},tel = #{tel},name = #{name},email =#{email},roleId = #{roleId} where userId = #{userId}
    </update>

    <!--删除员工-->
    <delete id="deleteUser" parameterType="Integer">
        delete from user where userId = #{id}
    </delete>

    <!--修改密码-->
    <update id="updatePassword" parameterType="User">
        update user set userPassword = #{userPassword} where userName = #{userName}
    </update>

    <select id="selectById" parameterType="String" resultType="Integer">
        select * from user where userName = #{username}
    </select>

    <select id="findRoleByUserName" parameterType="String"   resultType="String">
       select roleName FROM Role a,(select * from User where userName = #{userName}) i where i.roleId = a.roleId
    </select>

    <select id="findAuthorityByUserName" parameterType="String" resultType="String">
       select a.level from un u,authority a,user us,role r WHERE
       a.authorityId = u.authorityId and u.roleId = r.roleId and r.roleId = us.roleId
       and us.userName=#{userName}
    </select>

    <!--查询所有角色，准备注册-->
    <select id="selectRole" resultType="Role">
        select * from Role
    </select>

    <!--查询所有用户-->
    <select id="selectAllUser" parameterType="User" resultMap="UserResult">
        select u.*,r.roleName from user u,role r where u.roleId = r.roleId
        ORDER BY userId LIMIT #{map.currentPage},#{map.pageSize}
    </select>
    <select id="getTotalRecordAll" resultType="Integer" >
        select count(*) from user
    </select>
</mapper>